<section class="container-fluid petition-body">
    <aside>
        <h1>PETITION</h1>
        <h3>No Commercial Events in Residence Zones</h3>
        <p>We the citizens of the Town of Marbletown urge you to:</p>
        <p>Protect Marbletown's current zoning laws.  Keep commerical events (weddings, festivals, and concerts) out of residential areas.</p>
    </aside>
    <form action="" method="post">
        <!--first name-->
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="first_name">
        </div>
        <!--last name-->
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="last_name">
        </div>
        <!--street address-->
        <!--email optional-->
        <div>
            <label for="email" value="optional">E-mail</label>
            <input type="email" id="email" name="e_mail">
        </div>
        <!--adult-->
        <div>
            <label for="adultConfirm">Check to confirm you over 18 years old?</label>
            <input type="checkbox" id="adultConfirm" name="adult-confirm" value="yes">
        </div>
        <!--acknowledge checkbox-->
        <div>
            <label for="acknowledgment">Check this box will act as your signature.</label>
            <input type="checkbox" id="acknowledgment" name="acknowledgment" value="yes">
        </div>
        <!--more info checkbox-->
        <div>
            <label for="acknowledgment">Check to recieve future update by email.</label>
            <input type="checkbox" id="acknowledgment" name="acknowledgment" value="yes">
        </div>
        <!--caution-->
        <div>
            <p>Please not you ip and location is being logged to help confirm your identity.</p>
        </div>
        <!--submit button-->
        <div class="button">
            <button type="submit">Send your message</button>
        </div>
    </form>


</section>