<div id="accordionFeb18">
    <div class="card">
        <div class="card-header" id="headingOneFeb18">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneFeb18" aria-expanded="true" aria-controls="collapseOneFeb18">
                    February 6, 2018
                </button>
            </h5>
        </div>

        <div id="collapseOneFeb18" class="collapse show" aria-labelledby="headingOneFeb18" data-parent="#accordionFeb18">
            <div class="card-body">
                <p>coming soon</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwoFeb18">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoFeb18" aria-expanded="false" aria-controls="collapseTwoFeb18">
                    February 20, 2018
                </button>
            </h5>
        </div>
        <div id="collapseTwoFeb18" class="collapse" aria-labelledby="headingTwoFeb18" data-parent="#accordionFeb18">
            <div class="card-body">
                <p>coming soon</p>
            </div>
        </div>
    </div>
</div>