<div id="accordionMarch18">
    <div class="card">
        <div class="card-header" id="headingOneMarch18">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneMarch18" aria-expanded="true" aria-controls="collapseOneMarch18">
                    No meeting
                </button>
            </h5>
        </div>

        <div id="collapseOneMarch18" class="collapse show" aria-labelledby="headingOneMarch18" data-parent="#accordionMarch18">
            <div class="card-body">
                <p>coming soon</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwoMarch18">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoMarch18" aria-expanded="false" aria-controls="collapseTwoMarch18">
                    March 20, 2018
                </button>
            </h5>
        </div>
        <div id="collapseTwoMarch18" class="collapse" aria-labelledby="headingTwoMarch18" data-parent="#accordionMarch18">
            <div class="card-body">
                <p>coming soon</p>
            </div>
        </div>
    </div>
</div>