<header>
    <h1>Town of Coxsackie</h1>
    <h2>The Town of Coxsackie is hereby divided into the following zoning districts:</h2>
</header>

<table>
    <thead>
    <tr>
        <td>WR - Waterfront Residential District</td>
        <td>RA-1 - Residential Agricultural-1 District</td>
        <td>RA-2 - Residential Agriculutral-2 District</td>
        <td>RR - Rural Residential District</td>
        <td>HDR-1 - High Density Residential-1 District</td>
        <td>HDR-2 - High Density Residential-2 District</td>
        <td>MU - Mixed Use District</td>
        <td>C - Commercial District</td>
        <td>CI - Corridor Industrial District</td>
        <td>I - Industrial District</td>
        <td>Hamlet Overlay District</td>
        <td>Residential Density Overlay District</td>
        <td>Residential Over Commercial Overlay District</td>
        <td>Public Water Supply Overlay District</td>
        <td>Planned Development District</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<section>
    <header>
        ZONING
        201 Attachment 1
        Town of Coxsackie
        Schedule A
        Use Regulations for Residential Districts
        [Amended
        4-14-2015 by L.L. No. 1-2015
    </header>
    <table>
        <thead>
        <tr>
            <td>Principal Uses</td>
            <td>Zoning Districts</td>
        </tr>
        <tr>
            <td>WR</td>
            <td>RA-1</td>
            <td>RA-2</td>
            <td>RR</td>
            <td>HDR-1</td>
            <td>HDR-2</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Commercial event venue</td>
            <td>SP</td>
            <td>SP</td>
            <td>SP</td>
            <td>SP</td>
            <td>NP</td>
            <td>NP</td>
        </tr>
        </tbody>
    </table>
</section>