<section class="townBoard">
    <div id="collapse">
        <div class="title">
            <h3>Town Board Resolution Votes</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="accordion" role="tablist">
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">2018</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Meeting Date</td>
                                            <td>Resolution</td>
                                            <td>Link to minutes</td>
                                            <!--<td>Supervisor Rich Parete</td>-->
                                            <!--<td>Joe Borzumato</td>-->
                                            <!--<td>Tim Sweeney</td>-->
                                            <!--<td>Eric Stewart</td>-->
                                            <!--<td>Don LaFera</td>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2017
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                2017 coming soon
                            </div>
                        </div>
                    </div>
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    2016
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                2016 coming soon
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>