<section class="townBoard">
    <div id="collapse">
        <div class="title">
            <h3>Town Board Resolution Votes</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="accordion" role="tablist">
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="janOne" class="">2018</a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">

                                <div id="accordion2018">
                                    <div class="card">
                                        <div class="card-header" id="headingOne2018">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2018" aria-expanded="true" aria-controls="collapseOne">
                                                    January
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne2018" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion2018">
                                            <div class="card-body">
                                                <!--January 2018 Accordion -------------------------------------------->
                                                <div id="accordionJan18">
                                                    <div class="card">
                                                        <div class="card-header" id="headingOneJan18">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneJan18" aria-expanded="true" aria-controls="collapseOne">
                                                                    January 9, 2018
                                                                </button>
                                                            </h5>
                                                        </div>

                                                        <div id="collapseOneJan18" class="collapse" aria-labelledby="headingOneJan18" data-parent="#accordionJan18">
                                                            <div class="card-body">
                                                                <table class="table .table-sm">
                                                                <thead>
                                                                <tr><td>January 9, 2018</td><td>Present:RP, JB, TS, ES, DL</td></tr>
                                                                <tr>
                                                                <td>Resolution</td>
                                                                <td>Voting</td>
                                                                <td>Link to minutes</td>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                <td>RESOLUTION #1-2018 ORGANIZATIONAL MEETING</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION #2 – 2018; 2018 TOWN OF MARBLETOWN ELECTED OFFICIALS SALARY</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION# 3 -2018: TOWN OF MARBLETOWN NON-ELECTED EMPLOYEE SALARIES</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION # 4 -2018; RESOLUTION APPOINTMENTS TO PLANNING BOARD</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION # 5 -2018; APPOINTMENT PLANNING BOARD CHAIRMAN</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION # 6-2018: APPOINTMENTS TO ZONING BOARD</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td>RESOLUTION # 7 -2018; APPOINTMENT ZONING BOARD CHAIRMAN</td>
                                                                <td>5-0</td>
                                                                <td></td>
                                                                </tr>
                                                                <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                </tr>
                                                                </tbody>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="headingTwoJan18">
                                                            <h5 class="mb-0">
                                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwoJan18" aria-expanded="false" aria-controls="collapseTwo">
                                                                    January 23, 2018
                                                                </button>
                                                            </h5>
                                                        </div>
                                                        <div id="collapseTwoJan18" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionJan18">
                                                            <div class="card-body">
                                                                <table class="table table-sm">
                                                                    <thead>
                                                                    <tr><td>January 23, 2018</td><td>Present:RP, JB, TS, ES, DL</td></tr>
                                                                    <tr>
                                                                        <td>Resolution</td>
                                                                        <td>Voting</td>
                                                                        <td>Link to minutes</td>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>RESOLUTION # 8 -2018; RESOLUTION APPOINTMENTS TO ENVIRONMENTAL CONSERVA-
                                                                            TION COMMISSION</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 9-2018; RESOLUTION APPOINTMENT AS ENVIRONMETAL CONSERVATION
                                                                            BOARD CHAIR</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 10 -2018; RESOLUTION APPOINTMENTS TO HISTORIC PRESERVATION
                                                                            BOARD</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 11 -2018; RESOLUTION APPOINTMENT AS RECREATION DIRECTOR</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 12 -2018; RESOLUTION APPOINTING SECRETARY TO HIGHWAY
                                                                            SUPERINTENDENT</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 13 -2018; RESOLUTION APPROVING PLANNING CONSULTING SERVICES,
                                                                            NELSON, POPE & VOORHIS, LLC</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>RESOLUTION # 14 -2018; RESOLUTION APPROVING DANIEL SHUSTER, SHUSTER
                                                                            ASSOCIATES AS A CONSULTANT</td>
                                                                        <td>5-0</td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo2018">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2018" aria-expanded="false" aria-controls="collapseTwo2018">
                                                    February
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo2018" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2018">
                                            <div class="card-body">
                                                <p>coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree2018">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree2018" aria-expanded="false" aria-controls="collapseThree2018">
                                                    March
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree2018" class="collapse" aria-labelledby="headingThree" data-parent="#accordion2018">
                                            <div class="card-body">
                                                <p>Coming soon</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour2018">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour2018" aria-expanded="false" aria-controls="collapseFour2018">
                                                    April
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour2018" class="collapse" aria-labelledby="headingFour" data-parent="#accordion2018">
                                            <div class="card-body">
                                                <p>Coming soon</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-header" id="headingFive2018">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive2018" aria-expanded="false" aria-controls="collapseFive2018">
                                                    May
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive2018" class="collapse" aria-labelledby="headingFive" data-parent="#accordion2018">
                                            <div class="card-body">
                                                <p>Coming soon</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2017
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                2017 coming soon
                            </div>
                        </div>
                    </div>
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    2016
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                2016 coming soon
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
