<h1>
    The Town of Hyde Park is hereby divided into the following districts:
</h1>

<table>
    <tbody>
    <tr>
        <td>Greenbelt District</td><td>GB</td>
    </tr>
    <tr>
        <td>Waterfront District</td><td>WF</td>
    </tr>
    <tr>
        <td>Neighborhood District</td><td>N</td>
    </tr>
    <tr>
        <td>Hamlet District</td><td>H</td>
    </tr>
    <tr>
        <td>East Park Business District</td><td>EPBD</td>
    </tr>
    <tr>
        <td>Town Center Historic District</td><td>TCHD</td>
    </tr>
    <tr>
        <td>Neighborhood Business District</td><td>NBD</td>
    </tr>
    <tr>
        <td>St. Andrews District</td><td>SAD</td>
    </tr>
    <tr>
        <td>Landing District</td><td>L</td>
    </tr>
    <tr>
        <td>Bellefield Planned Development District</td><td>BPDD</td>
    </tr>
    <tr>
        <td>Neighborhood Core</td><td>Neighborhood Core</td>
    </tr>
    <tr>
        <td>Hamlet Core</td><td>HC</td>
    </tr>
    <tr>
        <td>Crossroads Core</td><td>CC</td>
    </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr><td>Town of Hyde Park</td><td>Schedule of Use Regulations</td></tr>
    </thead>
    <tbody>
    <tr>
        <td>Use/Zone</td>
        <td>GB</td>
        <td>WF</td>
        <td>N</td>
        <td>NC</td>
        <td>H</td>
        <td>HC</td>
        <td>CC</td>
        <td>L</td>
        <td>EPBD</td>
        <td>NBD</td>
        <td>TCHD</td>
    </tr>
    <tr>
        <td>Rural Event Venue</td>
        <td>S</td>
        <td>S</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
        <td>NP</td>
    </tr>
    </tbody>
</table>
